<div class="top-card-space">
<div class="card" style="width: 22rem;" style="height: 500px;">
    <form method="POST" action="/sellersignin">
        <div class="card-body">
            <h5 class="card-title"><strong> Sign in - seller account</strong></h5>
        <br>
            <label for="Email">Email</label>
            <input type="email" name="email" required placeholder="Email">
        <br>
        <br>
            <label for="Password">Password</label>
            <input type="password" name="password" required placeholder="Password">
        <br>
        <br>
            {{!-- <button class="btn btn-primary"> Sign in</button> --}}
            <button class="btn btn-outline-info btn-lg btn-block">Sign in</button>
        <br>
            <span>No account? <a href="/sellersignup">Create account</a></span>
        </div>
    </form>
</div>
</div>