$font-sans: "Helvetica Neue", Helvetica, Arial, sans-serif;
$link-color: #00b7ff;

body {
  margin: 0;
  padding: 50px;
  font-family: $font-sans;
}

a {
  color: $link-color;
}
.card{
  margin: auto;
}
.card-body{
  text-align: center;
}
.card-body input {
  width: 300px;
}
.main{
  text-align: center;
}
.main img{
  width: 500px;
  height: 300px;
}

#carouselExampleControls {
  height: 50px;
}









